# Autoenv/Direnv
.env
.envrc

# Build
build/
dist/

# Coverage
coverage/

# NPM
package-lock.json

# System Files
*.orig
.DS_Store
Thumbs.db

# VSCode
.vscode/launch.json

# Yarn
yarn-error.log
node_modules/