# Autoenv/Direnv
.env
.envrc

# Build
dist/

# Coverage
coverage/

# NPM
package-lock.json

# System Files
*.orig
.DS_Store
Thumbs.db

# TypeScript
*.js
index.d.ts

# Yarn
yarn-error.log
node_modules/